<mat-card>
    <mat-toolbar color="primary">
        Inserindo uma nova tecnologia
    </mat-toolbar>

    <mat-card-content>
        <form [formGroup]="form" class="full-width">
            <p>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                    <mat-label>Insira o nome da tecnologia</mat-label>
                    <input matInput placeholder="Nome" formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline" color="accent" class="full-width">
                    <mat-label>Selecione a categoria de atuação</mat-label>
                    <mat-select formControlName="category">
                        <mat-option value="null"></mat-option>
                        <mat-option value="front-end">front-end</mat-option>
                        <mat-option value="back-end">back-end</mat-option>
                    </mat-select>
                    <input matInput placeholder="Categoria">
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>